/* header */
@media screen and (min-width: 992px){

    header .nav-mobile {
        display: none;
        background: white;
        color: #4d4d4d;
    }   
    
}

@media screen and (max-width: 1200px) and (min-width: 992px){
    header .container{
        margin: 0;
        padding: 0;
    }
    header .nav-menu .nav-bar .list-nav .first-child {
        margin-left: 0;
    }
    header .nav-menu .nav-bar .list-nav li a{
        padding: 0;
    }
    header .nav-menu .nav-bar .list-nav li{
        margin-right: 11px;
    }
    header .nav-menu .nav-bar .list-nav li:last-child{
        margin-right: 0px;
    }
}


@media screen and (max-width: 991px){
    header .nav-desk {
        display: none;
    } 
    header .nav-mobile {
        display: block;
    }   
    header #main-menu{
        display: none;
    }
}

/* Main-page */

@media only screen and (max-width: 1110px ){
    .main-page .container{
        max-width: 100%;
   }
}

/*     tab - header */
/* @media only screen and (max-width: 768px ) and (min-width:578px){
    .form-page .tab-header {
        display: flex;
    }
    .form-page .tab-header .old-patient,
    .form-page .tab-header .new-patient{
       display: contents;
    }
    .form-page .tab-header .col-6{
        max-width: 30%!important;
    }
    .form-page .tab-header ul button{
        padding: 15px 20px;
    }
    .form-page .tab-header ul li{
        max-width: 100%;
        margin-left: 150px;
    }
}

@media only screen and (max-width: 575px ){
    .form-page .tab-header {
        display: flex;
    }
    .form-page .tab-header .old-patient,
    .form-page .tab-header .new-patient{
       display: contents;
    }
    .form-page .tab-header .col-6{
        max-width: 30%!important;
    }
    .form-page .tab-header ul button{
        padding: 5px 5px;
    }
    .form-page .tab-header ul li{
        max-width: 100%;
        margin-left: 80px;
    }
}

 */


/* old-patient */

@media screen and (max-width: 767px){
    .tab-content #old-patient + .col-md-6,
    .tab-content #old-patient + .col-sm-6{
        max-width: 100%;
    }
    .form-page .tab-header button{
        max-width: 100%;
    }

    .form-page .tab-content #old-patient button,
    .form-page .tab-content #old-patient input{
        width: 100%;
    }
    .form-page .tab-content #old-patient h2{
        text-align: center;
    }
}

/*              Footer-aside               */

@media only screen and (max-width: 767px){
    .footer .footer_aside ul{
         text-align: center;
    }
}